---

---

<div class="hidden" id="gh-banner">
	Use the promo code <b>SPIDER40</b> at checkout for a 40% discount on your first purchase.
</div>

<script is:inline>
	if (
		[
			'https://github.com/',
			'https://github.com'
		].includes(document.referrer)
	) {
		const banner = document.getElementById('gh-banner');
		if (banner) {
			banner.className = 'py-2 px-4 bg-pink-200 dark:bg-gray-800';
		}
	}
</script>
