---
import GithubAnchor from '@/components/GithubAnchor.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<footer>
	<div
		class="flex text-sm md:text-base p-4 place-items-center flex-1 place-content-between text-gray-800 dark:text-gray-200"
	>
		<p class="flex-1">
			<span class="sr-only md:not-sr-only">
				Made with ❤️ in <a
					href="https://rsseau.fr"
					class="hover:text-blue-500 hover:underline"
					target="_blank">France</a
				> and <a
					href="https://a11ywatch.com"
					class="hover:text-blue-500 hover:underline"
					target="_blank">USA</a
				>
			</span>
		</p>

		<ThemeIcon id="theme-button-footer" />

		<div class="gap-5 flex place-content-end flex-1">
			<GithubAnchor />
			<a
				class="text-gray-600 dark:text-gray-300 hover:text-blue-500 hover:underline"
				href="/privacy">Privacy</a
			>
		</div>
	</div>
</footer>
