---
const pathname = new URL(Astro.request.url).pathname;

function getListItemClass(path: string) {
	return ['nav__list__item', path === pathname ? 'nav__list__item--active' : ''].join(' ');
}
---

<nav class="nav">
	<ul class="nav__list">
		<li class={getListItemClass('/')}>
			<a href="/" class="nav__list__item__link">Home</a>
		</li>
	</ul>
</nav>

<style>
	.nav__list {
		list-style: none;
		padding-left: var(--spacing);

		display: flex;
		flex-direction: column;
		gap: var(--spacing);
	}

	.nav__list__item__link {
		font-weight: 700;
		text-decoration: none;
		color: var(--color-primary-text);
	}

	.nav__list__item--active {
		border-left: 0.25rem solid var(--color-accent);
		padding-left: 0.5rem;
	}

	.nav__list__item--active a {
		color: var(--color-accent);
	}
</style>
