---
const { height, width } = Astro.props ?? {};

const baseFill = 'fill-black';
---

<svg
	height={height || '106'}
	width={width || '106'}
	viewBox="0 0 106 106"
	xml:space="preserve"
	xmlns="http://www.w3.org/2000/svg"
	class="dark:invert"
>
	<title>SpiderWebAI Logo</title>
	<defs></defs><path
		class="fill-white stroke-2"
		d="m 51.6106,90.2168 -0.039,-2.2773 -0.8461,-1.7328 c -0.9209,-1.8857 -1.4799,-2.7917 -2.4123,-3.9089 -2.5501,-3.0561 -5.8538,-4.8341 -9.8206,-5.2856 -1.105,-0.1258 -2.9968,-0.051 -4.1907,0.1661 -0.905,0.1642 -4.2057,1.2138 -4.857,1.5443 -0.3361,0.1707 -0.9848,0.7509 -2.4579,2.1993 l -0.9873,0.9713 -0.9462,-0.9458 -0.9455,-0.9459 0.9707,-0.9877 c 1.4495,-1.4736 2.0293,-2.1215 2.1991,-2.4581 0.2705,-0.5323 1.2932,-3.6605 1.4562,-4.4534 0.8949,-4.3409 -0.1378,-8.7313 -2.8806,-12.2476 -1.4975,-1.9192 -3.4066,-3.3924 -5.7721,-4.4543 -0.579,-0.2598 -1.2706,-0.5871 -1.5361,-0.7273 l -0.484,-0.2549 -2.2764,-0.034 -2.2772,-0.034 v -1.35 -1.3502 l 2.2772,-0.037 2.2764,-0.037 0.4437,-0.2313 c 0.2437,-0.1273 0.8075,-0.3964 1.2537,-0.5981 4.8763,-2.2059 8.0956,-6.1443 9.062,-11.0862 0.3378,-1.7311 0.305,-3.9912 -0.086,-5.7992 -0.1673,-0.7757 -1.2042,-3.9182 -1.4571,-4.4169 -0.1698,-0.3366 -0.7496,-0.9846 -2.1991,-2.4582 l -0.9707,-0.9877 0.9455,-0.9457 0.9462,-0.9458 0.947,0.9305 c 1.5033,1.4765 2.168,2.0722 2.4957,2.2379 0.5361,0.2707 3.6705,1.2959 4.4604,1.4587 2.6281,0.5421 5.2048,0.3923 7.7215,-0.4489 4.0662,-1.3594 7.2185,-4.2559 9.0121,-8.2809 0.2393,-0.5372 0.5496,-1.1942 0.6895,-1.4602 l 0.2545,-0.4836 0.035,-2.2768 0.035,-2.2769 h 1.3501 1.35 l 0.037,2.2769 0.037,2.2768 0.5815,1.209 c 0.9872,2.0526 1.3226,2.6373 2.1536,3.7538 2.2577,3.0336 5.4905,5.0748 9.1796,5.7962 1.7322,0.3387 3.9911,0.3053 5.8022,-0.086 0.7849,-0.1695 3.9196,-1.2034 4.4167,-1.4567 0.3285,-0.1674 0.9962,-0.7665 2.4956,-2.2393 l 0.9475,-0.9305 0.9457,0.9457 0.9458,0.9458 -0.9306,0.9475 c -1.4879,1.5149 -2.0722,2.1678 -2.2477,2.5121 -0.2836,0.5556 -1.2779,3.6373 -1.4457,4.48 -0.6718,3.3741 -0.323,6.3736 1.081,9.296 1.2514,2.6045 3.3117,4.903 5.7208,6.3818 0.3103,0.1905 1.3077,0.7082 2.2164,1.1504 l 1.6522,0.8042 2.2769,0.04 2.2768,0.039 v 1.3501 1.35 l -2.2768,0.033 -2.2769,0.034 -0.5642,0.2984 c -0.3103,0.1641 -1.0634,0.5319 -1.6734,0.8175 -3.254,1.5225 -5.9281,4.1318 -7.3576,7.1789 -1.3696,2.9196 -1.7421,6.1655 -1.0776,9.3895 0.1639,0.795 1.1864,3.9216 1.4574,4.4561 0.1664,0.3283 0.7636,0.994 2.2384,2.4958 L 81.8924,80 l -0.9459,0.9459 -0.9456,0.9457 -0.9877,-0.9712 c -1.4785,-1.4536 -2.1216,-2.0285 -2.4657,-2.204 -0.5492,-0.2802 -3.6544,-1.2829 -4.4862,-1.4486 -3.3699,-0.6718 -6.3739,-0.3231 -9.2906,1.0782 -1.9875,0.9549 -3.7193,2.3028 -5.1342,3.996 -0.8892,1.0642 -1.4296,1.9455 -2.3588,3.8474 l -0.8543,1.7485 -0.036,2.2767 -0.036,2.2773 H 53.0015 51.6514 Z M 51.4092,67.3633 C 51.0727,67.084 48.5953,65.8865 47.3174,65.3855 46.6969,65.1422 45.6917,64.788 45.084,64.5985 44.0629,64.2802 43.9617,64.2627 43.7541,64.369 c -0.2536,0.1299 -9.0519,8.8892 -9.6519,9.609 -0.2134,0.256 -0.3714,0.4827 -0.3504,0.5038 0.025,0.021 0.4345,0 0.9185,-0.051 1.1484,-0.1167 3.8038,-0.048 4.7487,0.1225 1.9816,0.3582 3.5414,0.8691 5.3194,1.7423 1.3522,0.6642 2.327,1.2863 3.3044,2.1091 0.9932,0.836 2.3111,2.1435 2.9855,2.9618 l 0.5607,0.6806 0.022,-7.2492 0.022,-7.2492 z m 4.0466,13.4545 c 0.7391,-0.8497 2.3261,-2.319 3.2427,-3.0021 2.0561,-1.5322 4.9506,-2.7302 7.8815,-3.2619 0.9442,-0.1715 3.5978,-0.2402 4.7485,-0.1231 0.4841,0.049 0.8971,0.072 0.9182,0.051 0.083,-0.083 -0.8835,-1.107 -4.1739,-4.4245 -4.4244,-4.4608 -5.8127,-5.7729 -6.1082,-5.7729 -0.732,0 -5.8772,2.1254 -7.2121,2.9793 l -0.3829,0.2449 v 7.2737 7.2736 l 0.2193,-0.2494 c 0.1205,-0.1372 0.5086,-0.5821 0.8621,-0.9888 z M 36.7397,67.3068 c 4.3506,-4.405 4.9762,-5.0694 4.9762,-5.2846 0,-0.5614 -1.3289,-4.0151 -2.3828,-6.1931 L 38.6275,54.371 h -7.3411 -7.3419 l 0.3975,0.3386 c 2.6933,2.2903 4.31,4.3001 5.5402,6.8855 1.0496,2.2052 1.5453,4.1997 1.6924,6.8031 0.09,1.5936 0.025,3.3706 -0.1462,4.0183 -0.076,0.2862 0.9512,-0.7032 5.3113,-5.1179 z m 37.7485,4.6948 c -0.1131,-0.6053 -0.1508,-3.6648 -0.056,-4.4933 0.3587,-3.1156 1.6661,-6.5228 3.3822,-8.8144 0.6819,-0.9107 2.1617,-2.5066 3.0013,-3.2366 0.4066,-0.3536 0.8515,-0.7416 0.9888,-0.8623 l 0.2494,-0.2192 H 74.7138 67.3734 L 66.639,55.887 c -0.4038,0.8312 -0.9214,1.9827 -1.1499,2.559 -0.5531,1.3943 -1.2062,3.3198 -1.2062,3.556 0,0.2518 1.4485,1.781 5.4936,5.7996 3.2658,3.2445 4.5471,4.4666 4.6825,4.4666 0.045,0 0.056,-0.1133 0.029,-0.2619 z M 51.5696,63.7807 c 0.062,-0.6318 -0.035,-7.3141 -0.1067,-7.3141 -0.078,0 -5.2222,5.2338 -5.3196,5.4123 -0.061,0.1124 0.025,0.1682 0.5508,0.3549 0.9469,0.3366 2.4939,0.9656 3.674,1.494 0.5829,0.261 1.0823,0.4749 1.1099,0.4753 0.028,0 0.069,-0.1896 0.092,-0.4224 z m 4.111,-0.053 c 1.3549,-0.6051 2.8234,-1.2104 3.6291,-1.496 0.3455,-0.1224 0.6175,-0.2539 0.6045,-0.2921 -0.044,-0.1295 -5.3956,-5.5533 -5.4793,-5.5533 -0.056,0 -0.071,1.212 -0.047,3.7679 0.032,3.3325 0.066,4.05 0.193,4.05 0.019,0 0.5128,-0.2145 1.0996,-0.4765 z m -8.8071,-6.522 c 1.5075,-1.4775 2.7409,-2.7197 2.7409,-2.7605 0,-0.083 -6.6995,-0.088 -7.4201,-0.01 l -0.4486,0.052 0.6259,1.3701 c 0.3443,0.7536 0.8529,1.9782 1.1304,2.7214 0.2775,0.743 0.5328,1.3414 0.5676,1.3298 0.034,-0.012 1.2965,-1.2301 2.8039,-2.7074 z m 15.6239,1.3765 c 0.2771,-0.7424 0.7857,-1.9666 1.13,-2.7201 l 0.6259,-1.3702 -0.4486,-0.052 c -0.7184,-0.083 -7.4201,-0.078 -7.4201,0.01 0,0.077 5.4868,5.4868 5.5648,5.4871 0.024,0 0.2708,-0.6074 0.548,-1.3498 z M 38.8819,50.986 c 0.9114,-1.544 2.834,-6.2762 2.834,-6.9753 0,-0.1414 -0.3313,-0.5496 -1.1887,-1.4647 -1.5008,-1.6015 -9.0425,-9.1614 -9.0913,-9.1129 -0.017,0.02 0.01,0.2508 0.059,0.5132 0.1269,0.6211 0.1201,3.9959 -0.01,5.071 -0.3437,2.8402 -1.6756,6.1156 -3.4403,8.4628 -0.8201,1.0905 -2.2906,2.6002 -3.7049,3.8042 l -0.3975,0.3388 7.2906,-0.017 7.29,-0.017 z m 10.7325,0.5706 c 0,-0.078 -5.4291,-5.4295 -5.5495,-5.4697 -0.039,-0.013 -0.1526,0.2046 -0.2532,0.4834 -0.4152,1.1503 -1.1636,2.9878 -1.6018,3.9321 l -0.4676,1.0074 0.4503,0.047 c 0.7705,0.081 7.4218,0.08 7.4218,0 z m 14.15,0 0.4888,-0.051 -0.6259,-1.3701 c -0.3442,-0.7536 -0.8528,-1.9782 -1.1303,-2.7213 -0.2775,-0.743 -0.5329,-1.3414 -0.5676,-1.3298 -0.1158,0.04 -5.5448,5.3926 -5.5448,5.4679 0,0.083 6.5883,0.087 7.3798,0 z m 18.0408,-0.1541 c -0.1374,-0.1206 -0.5822,-0.5087 -0.9888,-0.8622 -0.8497,-0.739 -2.319,-2.3261 -3.0021,-3.2427 -1.3168,-1.767 -2.5558,-4.5413 -3.0518,-6.8338 -0.3963,-1.8312 -0.5153,-4.016 -0.3177,-5.8325 0.048,-0.4408 0.075,-0.8756 0.061,-0.9661 -0.021,-0.1289 -0.8846,0.6852 -3.989,3.7603 -4.4541,4.4122 -5.9042,5.9157 -6.0969,6.3219 -0.1257,0.2646 -0.1228,0.3127 0.055,0.959 0.3907,1.4198 1.1255,3.239 2.2663,5.6104 l 0.6302,1.3097 h 7.3418 7.342 L 81.8057,51.4073 Z M 51.629,46.7305 c 0,-3.4384 -0.062,-4.9365 -0.2035,-4.9365 -0.054,0 -0.5291,0.2031 -1.0555,0.4514 -0.8898,0.4197 -1.8577,0.8205 -3.5973,1.4894 -0.3882,0.1493 -0.6964,0.2993 -0.685,0.3334 0.039,0.115 5.3927,5.5436 5.4674,5.5436 0.044,0 0.074,-1.1796 0.074,-2.8813 z m 5.5753,0.1403 c 1.4774,-1.5074 2.6968,-2.7725 2.7099,-2.8113 0.014,-0.039 -0.259,-0.1707 -0.6045,-0.2931 -0.8464,-0.3001 -2.3321,-0.9142 -3.6361,-1.503 -0.5906,-0.2667 -1.0983,-0.4603 -1.1284,-0.4302 -0.1073,0.1072 -0.1605,1.579 -0.168,4.6555 -0.01,1.8542 0.023,3.1231 0.066,3.1231 0.041,0 1.2829,-1.2334 2.7604,-2.741 z M 44.605,41.5852 c 1.655,-0.48 6.0158,-2.3686 6.6662,-2.8872 l 0.2373,-0.1892 0.042,-2.0024 c 0.023,-1.1014 0.023,-4.3732 0,-7.2707 l -0.042,-5.2682 -0.5216,0.6742 c -2.0339,2.6292 -4.9867,4.7536 -8.2232,5.916 -1.8596,0.668 -3.0104,0.8943 -5.1862,1.0196 -1.5385,0.089 -3.3862,0.02 -4.0021,-0.1485 -0.2689,-0.074 2.5869,2.8788 6.1491,6.3564 3.5323,3.4484 4.0562,3.9322 4.2593,3.9322 0.091,0 0.3706,-0.06 0.6212,-0.1322 z M 62.8906,41.059 c 1.404,-1.3066 7.5828,-7.4032 8.6462,-8.5311 0.778,-0.8254 1.0306,-1.1385 0.8865,-1.099 -0.1109,0.03 -0.6967,0.097 -1.3018,0.1478 -1.3729,0.1159 -3.8894,-0.01 -5.1641,-0.2552 -2.892,-0.5597 -5.6901,-1.859 -8.0003,-3.7151 -0.7595,-0.6103 -2.2574,-2.1076 -3.0123,-3.0113 l -0.5348,-0.6403 -0.022,7.2492 -0.022,7.2492 0.1827,0.1515 c 0.2928,0.2427 3.1417,1.6045 4.3837,2.0956 1.4931,0.5903 2.7572,1.0139 3.0305,1.0157 0.1642,0 0.3975,-0.1643 0.9269,-0.657 z"
		id="path404"></path><g id="logo" transform="translate(53, 53)"
		><g id="gear" mask="url(#holes)"
			><circle r="43" fill="none" stroke="black" stroke-width="9" id="circle3"></circle><g id="cogs"
				><polygon
					id="cog"
					stroke="black"
					stroke-width="3"
					stroke-linejoin="round"
					points="46,3 51,0 46,-3"></polygon>
				<use xlink:href="#cog" transform="rotate(11.25)"></use><use
					xlink:href="#cog"
					transform="rotate(22.50)"></use><use xlink:href="#cog" transform="rotate(33.75)"
				></use><use xlink:href="#cog" transform="rotate(45.00)"></use><use
					xlink:href="#cog"
					transform="rotate(56.25)"></use><use xlink:href="#cog" transform="rotate(67.50)"
				></use><use xlink:href="#cog" transform="rotate(78.75)"></use><use
					xlink:href="#cog"
					transform="rotate(90.00)"></use><use xlink:href="#cog" transform="rotate(101.25)"
				></use><use xlink:href="#cog" transform="rotate(112.50)"></use><use
					xlink:href="#cog"
					transform="rotate(123.75)"></use><use xlink:href="#cog" transform="rotate(135.00)"
				></use><use xlink:href="#cog" transform="rotate(146.25)"></use><use
					xlink:href="#cog"
					transform="rotate(157.50)"></use><use xlink:href="#cog" transform="rotate(168.75)"
				></use><use xlink:href="#cog" transform="rotate(180.00)"></use><use
					xlink:href="#cog"
					transform="rotate(191.25)"></use><use xlink:href="#cog" transform="rotate(202.50)"
				></use><use xlink:href="#cog" transform="rotate(213.75)"></use><use
					xlink:href="#cog"
					transform="rotate(225.00)"></use><use xlink:href="#cog" transform="rotate(236.25)"
				></use><use xlink:href="#cog" transform="rotate(247.50)"></use><use
					xlink:href="#cog"
					transform="rotate(258.75)"></use><use xlink:href="#cog" transform="rotate(270.00)"
				></use><use xlink:href="#cog" transform="rotate(281.25)"></use><use
					xlink:href="#cog"
					transform="rotate(292.50)"></use><use xlink:href="#cog" transform="rotate(303.75)"
				></use><use xlink:href="#cog" transform="rotate(315.00)"></use><use
					xlink:href="#cog"
					transform="rotate(326.25)"></use><use xlink:href="#cog" transform="rotate(337.50)"
				></use><use xlink:href="#cog" transform="rotate(348.75)"></use>
			</g><g id="mounts"
				><polygon
					id="mount"
					stroke="black"
					stroke-width="6"
					stroke-linejoin="round"
					points="-7,-42 0,-35 7,-42"></polygon><use xlink:href="#mount" transform="rotate(72)"
				></use><use xlink:href="#mount" transform="rotate(144)"></use><use
					xlink:href="#mount"
					transform="rotate(216)"></use><use xlink:href="#mount" transform="rotate(288)"></use></g
			></g
		><mask id="holes"
			><rect x="-60" y="-60" width="120" height="120" fill="white"></rect><circle
				id="hole"
				cy="-40"
				r="3"></circle><use xlink:href="#hole" transform="rotate(72)"></use><use
				xlink:href="#hole"
				transform="rotate(144)"
				id="use85"></use><use xlink:href="#hole" transform="rotate(216)"></use><use
				xlink:href="#hole"
				transform="rotate(288)"></use></mask
		></g
	><path
		style="fill:#000000;stroke-width:0.0758393"
		d="m 70.663,89.345 c 0.025,-0.3954 0.131,-2.1375 0.2393,-3.8674 0.1099,-1.7313 0.1997,-3.8634 0.2029,-4.7405 0,-1.7988 0.019,-1.7152 -0.8284,-5.7634 -0.6523,-3.1199 -0.8158,-3.6826 -1.6939,-5.8322 -0.411,-1.0053 -0.9111,-2.2671 -1.1109,-2.8055 -0.233,-0.622 -0.4779,-1.1321 -0.6778,-1.402 -0.3188,-0.4331 -1.8554,-1.9189 -2.3447,-2.2671 -0.3609,-0.2564 -0.4995,-0.1484 -0.5003,0.3901 0,1.2697 -1.0943,3.9025 -2.269,5.4678 -1.4087,1.8771 -4.0539,4.1076 -6.0347,5.0887 -1.0347,0.5127 -1.7543,0.6665 -2.9168,0.6234 -0.859,-0.028 -1.0359,-0.067 -1.8282,-0.3347 -1.5316,-0.5235 -3.0032,-1.4641 -4.7183,-3.0159 -2.6985,-2.4412 -3.7624,-4.4558 -4.2295,-8.0089 -0.045,-0.3548 -0.097,-0.657 -0.1133,-0.672 -0.032,-0.026 -2.7685,2.541 -2.8551,2.68 -0.025,0.041 -0.2437,0.5897 -0.4785,1.2091 -0.2341,0.6193 -0.7801,1.9836 -1.2116,3.0321 -0.957,2.3211 -1.1636,3.1293 -2.3957,9.3475 l -0.2424,1.2266 0.238,4.3478 c 0.247,4.5058 0.28,5.6191 0.1585,5.3168 -0.1431,-0.3549 -0.441,-2.035 -1.3668,-7.7053 l -0.3201,-1.9579 0.1241,-0.7719 c 0.069,-0.4238 0.2107,-1.2657 0.3157,-1.8716 0.1054,-0.6046 0.3271,-2.1564 0.4932,-3.4505 0.1667,-1.2927 0.3353,-2.4924 0.376,-2.6651 0.037,-0.1742 0.2908,-0.8555 0.5568,-1.5168 0.4569,-1.1375 1.0448,-2.8499 1.5577,-4.5395 0.1268,-0.4169 0.3289,-0.9135 0.4499,-1.1038 0.4956,-0.7799 2.871,-3.4042 3.7707,-4.1664 1.1332,-0.9603 1.3121,-1.139 1.466,-1.4662 0.2221,-0.4722 0.2774,-0.8094 0.1336,-0.8094 -0.1432,0 -1.0404,0.3895 -3.1009,1.3465 l -1.5742,0.7304 -2.6737,2.6972 c -2.8685,2.8919 -3.2687,3.3439 -4.0011,4.5165 -0.5403,0.8651 -0.7324,1.1417 -1.7225,2.479 -1.5304,2.0686 -1.7238,2.5679 -3.1644,8.1572 -0.8373,3.2467 -1.1607,4.4342 -1.1714,4.298 -0.013,-0.1364 0.3487,-2.8487 0.8742,-6.592 l 0.5008,-3.5651 1.519,-2.73 c 2.2689,-4.0765 2.4536,-4.3626 3.7,-5.7228 1.0569,-1.1551 2.5784,-2.9417 3.6793,-4.3211 l 0.957,-1.1996 1.5672,-0.761 c 0.8622,-0.4188 3.018,-1.4079 4.7907,-2.1983 2.7585,-1.2296 4.5758,-2.076 4.6953,-2.1867 0.019,-0.016 0.019,-0.045 0,-0.064 -0.057,-0.057 -1.9496,-0.3909 -4.1239,-0.7272 L 41.3131,51.1812 39.3412,50.0616 C 37.0569,48.7646 34.6541,47.449 32.5538,46.3451 30.8847,45.4679 30.1542,45.0556 29.7012,44.7345 29.4161,44.5324 22.4785,37.4773 21.7022,36.6 l -0.3348,-0.3781 0.3036,0.2214 c 0.3353,0.245 1.8039,1.3667 5.9476,4.5423 l 2.7622,2.1173 2.5083,1.2128 c 8.7562,4.2333 9.1221,4.3802 12.7847,5.1242 1.4414,0.2929 1.6232,0.317 1.7505,0.232 0.1368,-0.092 -1.4564,-1.6609 -5.7267,-5.6408 l -3.0925,-2.8817 -0.6994,-1.441 C 36.9571,37.753 36.2551,36.589 32.8764,31.3661 L 32.3361,30.532 30.2942,23.441 c -1.1231,-3.9001 -2.0623,-7.1933 -2.0871,-7.3185 -0.095,-0.4758 0.4924,0.9335 2.9086,6.9811 l 2.4861,6.2227 2.481,3.7881 c 4.428,6.7619 4.673,7.0758 7.4677,9.5826 0.7712,0.6921 1.8809,1.6708 2.4644,2.1747 1.6326,1.4086 2.0858,1.7254 2.0858,1.4571 0,-0.05 0.1896,-0.3909 0.4219,-0.7571 0.2321,-0.3663 0.4505,-0.7651 0.4855,-0.8866 0.037,-0.1242 0.033,-0.5 -0.013,-0.8547 -0.1201,-1.0241 0.057,-2.6781 0.3518,-3.2441 0.175,-0.339 0.7693,-0.8156 1.4273,-1.1446 0.9469,-0.4743 1.0233,-0.4043 0.3111,0.2857 -0.8151,0.7902 -1.0238,1.2131 -1.0263,2.0824 0,1.2962 0.2755,2.05 0.7756,2.0924 0.2329,0.02 0.3328,-0.036 0.7884,-0.4377 0.5912,-0.522 1.1225,-0.7329 1.6297,-0.6472 0.3117,0.053 0.9886,0.4391 0.9886,0.5645 0,0.041 0.1517,0.1633 0.3374,0.2719 0.2399,0.1406 0.4205,0.1908 0.6255,0.1738 0.2527,-0.022 0.3061,-0.06 0.4326,-0.3271 0.1777,-0.373 0.2635,-2.0194 0.131,-2.5073 -0.1336,-0.4889 -0.4863,-0.9465 -1.104,-1.4301 -0.3157,-0.247 -0.5593,-0.4638 -0.541,-0.4819 0.057,-0.058 0.9806,0.2816 1.3701,0.5059 0.5764,0.332 1.0664,0.8019 1.2133,1.163 0.1011,0.2506 0.147,0.708 0.2011,2.0299 0.037,0.9385 0.101,1.8296 0.1425,1.9802 0.037,0.1506 0.1751,0.4019 0.2992,0.5584 0.1242,0.1566 0.3822,0.571 0.5725,0.9207 0.1909,0.3498 0.3908,0.636 0.4443,0.636 0.164,0 2.6195,-1.8197 4.7487,-3.5189 2.0807,-1.6609 2.1698,-1.7677 8.8891,-10.6499 L 74.09,29.951 74.8314,28.2316 c 0.9493,-2.2022 4.1589,-9.5822 4.6317,-10.6506 0.1986,-0.449 0.3767,-0.8011 0.3957,-0.7821 0.037,0.04 -0.6757,2.2025 -3.104,9.4028 l -1.66,4.9226 -1.5411,2.1684 c -2.2565,3.1736 -2.8927,4.0985 -5.2419,7.6187 l -2.1235,3.1818 -2.4651,1.8142 c -3.4475,2.5375 -5.3004,3.9262 -5.3538,4.013 -0.025,0.041 -0.025,0.095 0,0.1188 0.067,0.069 1.5501,-0.4255 4.7253,-1.5742 l 2.8964,-1.0481 3.772,-2.8832 3.7727,-2.8832 2.5332,-5.9005 c 2.7838,-6.4851 2.7406,-6.3849 2.7444,-6.2864 0.013,0.332 -3.7065,12.4903 -4.0889,13.3627 -0.147,0.3348 -0.8349,0.8941 -5.9189,4.8158 l -2.3131,1.7842 -2.8061,1.1117 c -3.3031,1.3087 -4.6838,1.8951 -4.7201,2.0056 -0.032,0.096 0.5624,0.3829 2.8068,1.3556 3.6193,1.5679 7.0032,3.1739 7.6216,3.6169 0.1776,0.1268 0.5358,0.5071 0.7948,0.8437 0.7407,0.9601 2.9786,3.6213 3.9579,4.7076 0.4893,0.5412 1.1059,1.309 1.3706,1.7057 0.2646,0.3968 1.23,2.0686 2.1449,3.7164 l 1.6634,2.9957 0.1215,0.9094 c 0.066,0.5007 0.3435,2.5477 0.6159,4.5503 0.273,2.0026 0.5122,3.8108 0.5319,4.02 l 0.037,0.3791 -0.1515,-0.4547 c -0.1393,-0.417 -0.4417,-1.537 -1.6181,-5.9915 -0.8489,-3.2156 -1.1365,-3.8593 -2.6216,-5.878 -0.3227,-0.4386 -0.9812,-1.3927 -1.4635,-2.1227 -0.4824,-0.7313 -1.109,-1.6005 -1.3935,-1.9351 -0.2837,-0.3333 -1.575,-1.6773 -2.8691,-2.9863 l -2.3525,-2.3801 -1.4032,-0.6937 c -1.5806,-0.7813 -2.9816,-1.4094 -3.1471,-1.4094 -0.082,0 -0.1,0.064 -0.066,0.2469 0.1099,0.6038 0.3609,0.9284 2.0757,2.6732 1.8046,1.8357 2.7972,2.972 3.1268,3.5792 0.1088,0.1997 0.3697,0.9446 0.579,1.653 0.5167,1.7516 0.9246,2.9121 1.4088,4.0079 0.224,0.5073 0.4436,1.0593 0.4881,1.2252 0.044,0.1673 0.168,1.085 0.2749,2.039 0.2469,2.2116 0.4262,3.4423 0.7648,5.2425 l 0.2712,1.4412 -0.3794,2.2751 c -0.2086,1.2509 -0.4696,2.8716 -0.5795,3.6016 -0.2438,1.6126 -0.7669,4.2858 -0.8739,4.4612 -0.057,0.094 -0.066,-0.081 -0.037,-0.5938 z"
	></path></svg
>
