---
import WebsiteForm from '@/components/react/forms/website-form';
import WebsitesList from '@/components/react/website/WebsitesList';
import Logo from '@/components/svg/Logo.astro';
import type { home } from '@/i18n/ui';
import { getLangFromUrl, getTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';

export const prerender = true;

const lang = getLangFromUrl(Astro.url, 'home');
const t = getTranslations<(typeof home)[typeof lang]>(lang, 'home');

// TODO: SSR use Astro.components to gather data for initial form and list
// TODO: allow refresh token re-init without re-auth if same user
---

<Layout title={t('title')} description={t('description')}>
	<div class="sr-only">
		<h1>{t('intro.header')}</h1>
		<p>{t('intro.details')}</p>
	</div>
	<div class="pt-16 flex flex-col place-items-center">
		<div>
			<h2 class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-5xl capitalize sr-only">
				{t('intro.subheader')}
			</h2>
		</div>
		<div class="pb-6">
			<div class="flex gap-2 place-items-center p-1">
				<Logo height={'80px'} width={'80px'} />
			</div>
		</div>
		<WebsiteForm client:load />
		<WebsitesList client:load url={Astro.url} />
	</div>
</Layout>
